<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/bet"></ion-back-button>
    </ion-buttons>
    <ion-title>Aposta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="bet$ | async as bet">
    <div class="title">
      <div>Usuário: {{ bet.user }}</div>
      <div class="total ion-text-right">{{ betPoints.total | number }}</div>
    </div>
    <ion-list>
      <ion-item [class.bet--exact]="betPoints.pole > 0">
        <ion-label>1o qualifying</ion-label>
        <ion-label class="col-sm ion-text-right">{{ bet.pole }}</ion-label>
        <ion-label class="col-sm ion-text-right">{{ betPoints.pole }}</ion-label>
        <ion-label class="col-sm ion-text-right">-</ion-label>
      </ion-item>
      <ion-item [class.bet--exact]="betPoints.fastestLap > 0">
        <ion-label>Volta mais rápida</ion-label>
        <ion-label class="col-sm ion-text-right">{{ bet.fastestLap }}</ion-label>
        <ion-label class="col-sm ion-text-right">{{ betPoints.fastestLap }}</ion-label>
        <ion-label class="col-sm ion-text-right">-</ion-label>
      </ion-item>
      <ion-item *ngFor="let betPos of bet.positions; index as pos"
                [class.bet--exact]="betPoints.positions[pos] == pointsRef[pos]"
      >
        <ion-label>{{ pos + 1 }}</ion-label>
        <ion-label class="col-sm ion-text-right">{{ betPos }}</ion-label>
        <ion-label class="col-sm ion-text-right">{{ betPoints.positions[pos] | number }}</ion-label>
        <ion-label class="col-sm ion-text-right">{{ betPoints.extra[pos] }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
