.stats__row {
  display: flex;
  align-items: center;
}

.stats__bar {
  height: 0.7em;
  background: green;

  &--1 {
    width: calc(1 * 6%);
  }
  &--2 {
    width: calc(2 * 6%);
  }
  &--3 {
    width: calc(3 * 6%);
  }
  &--3 {
    width: calc(3 * 6%);
  }
  &--4 {
    width: calc(4 * 6%);
  }
  &--5 {
    width: calc(5 * 6%);
  }
  &--6 {
    width: calc(6 * 6%);
  }
  &--7 {
    width: calc(7 * 6%);
  }
  &--8 {
    width: calc(8 * 6%);
  }
  &--9 {
    width: calc(9 * 6%);
  }
  &--10 {
    width: calc(10 * 6%);
  }
  &--11 {
    width: calc(11 * 6%);
  }
}

.stats__label {
  width: 70px;
}

.stats__spacing {
  flex-grow: 1;
}