<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/bet"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Aposta Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">Essa aposta é para os resultados ao final da temporada.</div>
  <ion-list>
    <ion-item>
      <ion-label>Piloto campeão</ion-label>
      <ion-select [(ngModel)]="initialBet.champion" placeholder="Select driver" interface="alert">
        <ion-select-option *ngFor="let driver of drivers" value="{{driver.id}}">
          {{ driver.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Equipe campeã</ion-label>
      <ion-select [(ngModel)]="initialBet.championTeam" placeholder="Select team" interface="alert">
        <ion-select-option *ngFor="let team of teams" value="{{team.name}}">
          {{ team.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="onSubmitClicked()">
    Enviar aposta
  </ion-button>
</ion-content>
