<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Aposta Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">Essa aposta é para os resultados ao final da temporada 2020 e não poderá ser modificada.</div>
  <ion-list>
    <ion-item>
      <ion-label>Piloto campeão</ion-label>
      <ion-select [(ngModel)]="initialBet.champion" placeholder="Select driver" interface="alert">
        <ion-select-option *ngFor="let driver of drivers" value="{{driver.id}}">
          {{ driver.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Piloto melhor 2o pelotão</ion-label>
      <ion-select [(ngModel)]="initialBet.bestRestDriver" placeholder="Select driver" interface="alert">
        <ion-select-option *ngFor="let driver of restDrivers" value="{{driver.id}}">
          {{ driver.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Melhor equipe 2o pelotão</ion-label>
      <ion-select [(ngModel)]="initialBet.bestRestTeam" placeholder="Select team" interface="alert">
        <ion-select-option *ngFor="let team of restTeams" value="{{team.name}}">
          {{ team.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="onSubmitClicked()">
    Enviar aposta
  </ion-button>
</ion-content>
