.stats__row {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.stats__bar {
  height: 0.7em;
  background: lightcoral;

  &--1 {
    width: calc(1 * 4%);
  }
  &--2 {
    width: calc(2 * 4%);
  }
  &--3 {
    width: calc(3 * 4%);
  }
  &--4 {
    width: calc(4 * 4%);
  }
  &--5 {
    width: calc(5 * 4%);
  }
  &--6 {
    width: calc(6 * 4%);
  }
  &--7 {
    width: calc(7 * 4%);
  }
  &--8 {
    width: calc(8 * 4%);
  }
  &--9 {
    width: calc(9 * 4%);
  }
  &--10 {
    width: calc(10 * 4%);
  }
  &--11 {
    width: calc(11 * 4%);
  }
  &--12 {
    width: calc(12 * 4%);
  }
  &--13 {
    width: calc(13 * 4%);
  }
  &--14 {
    width: calc(14 * 4%);
  }
  &--15 {
    width: calc(15 * 4%);
  }
  &--16 {
    width: calc(16 * 4%);
  }
  &--17 {
    width: calc(17 * 4%);
  }
  &--18, &--19, &--20, &--21, &--22, &--23, &--24, &--25, &--26, &--27, &--28, &--29, &--30 {
    width: calc(18 * 4%);
  }

  &--Mercedes,
  &--HAM {
    background: #00d2be;
  }

  &--RUS {
    background: #d2d5d5;
  }

  &--Ferrari,
  &--LEC {
    background: #dc0000;
  }

  &--SAI {
    background: #feea34;
  }

  &--Red.Bull.Racing,
  &--VER {
    background: #0600ef;
  }

  &--PER {
    background: #2748ff;
  }

  &--McLaren,
  &--NOR {
    background: #FF9800;
  }

  &--PIA {
    background: #fea036;
  }

  &--Aston.Martin,
  &--ALO {
    background: #006F62;
  }
  &--STR {
    background: #019d8b;
  }

  &--Alpine,
  &--OCO {
    background: #0090ff;
  }
  &--GAS {
    background: #27a2ff;
  }

  &--Haas.F1.Team,
  &--MAG {
    background: #FFFFFF;
  }
  &--HUL {
    background: #f2f2f2;
  }

  &--RB,
  &--RIC {
    background: #1334cb;
  }
  &--TSU {
    background: #5e8faa;
  }

  &--Williams,
  &--ALB {
    background: #005aff;
  }
  &--SAR {
    background: #1aa1dc;
  }

  &--Kick.Sauber,
  &--BOT {
    background: #00E701;
  }
  &--ZHO {
    background: #041c06;
  }
}

.stats__card {
  border: 1px solid #aaaaaa;
  padding: 0 8px 8px 8px;
  margin-bottom: 24px;
}

.stats__label {
  width: 70px;
}

.stats__spacing {
  flex-grow: 1;
}

.stats__title {
  display: inline;
  position: relative;
  top : -0.6em;
  margin-left: 1em;
  background-color: #323639;
  padding: 4px;
}
