<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/bet"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Aposta Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <div>Usuário: {{ username }}</div>
  </div>
  <ion-list>
    <ion-item><ion-label>Classificação final dos pilotos</ion-label></ion-item>
    <ion-item *ngFor="let betPos of initialBet.driversPositions; index as pos">
      <ion-label>{{ pos + 1 }}</ion-label>
      <ion-label class="ion-text-right">{{ betPos }}</ion-label>
    </ion-item>
    <ion-item><ion-label>Classificação final das equipes</ion-label></ion-item> 
    <ion-item *ngFor="let betPos of initialBet.teamsPositions; index as pos">
      <ion-label>{{ pos + 1 }}</ion-label>
      <ion-label class="ion-text-right">{{ betPos }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
