<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bolão F1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let user of users; index as idx">
      <ion-label class="standings__position">{{ idx + 1 }}</ion-label>
      <ion-label>{{ user.username }}</ion-label>
      <ion-label text-right>{{ user.points | number }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
