<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bolão F1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="title">Classificação após GP {{ lastRace.name }}</div>
  <ion-list>
    <ion-item *ngFor="let user of users; index as idx" class="standings__item" [class.standings__user]="currentUser == user.username" [routerLink]="['/tabs/user-points/', user.username]">
      <ion-label class="standings__position">{{ idx + 1 }}</ion-label>
      <ion-label class="standings__username">{{ user.username }}</ion-label>
      <div [class]="'standings__updown standings__updown--' + diffClass(user.diff)">
        <div class="standings__updown-number">{{ user.diff | abs }}</div>
        <div class="standings__updown-icon">
          <ion-icon [name]="diffIcon(user.diff)"></ion-icon>
        </div>
      </div>
      <ion-label class="standings__points ion-text-right">{{ user.points | number: '1.1-1' }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
