.standings__item {
  display: flex;
  flex-direction: row;
}

.standings__position {
  max-width: 2rem;
}

.standings__user {
  color: yellow;
}

.standings__username {
  flex-grow: 1;
}

.standings__updown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.standings__updown--up {
  color: lime;
}

.standings__updown--equal {
  color: gray;
  font-size: 10px;
}

.standings__updown--down {
  color: red;
}

.standings__updown-number {
  font-size: 14px;
}

.standings__updown-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.standings__points {
  width: 4em;
  flex: 0 0 auto;
  margin-left: 8px;
}

.standings__buttons {
  display: flex;
  justify-content: flex-start;
  border-bottom: whitesmoke;
  padding-left: 16px;
}

.standings__chip {
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 0px;
}

.standings__chip--selected {
  border-color: yellow;
  color: yellow;
}
