<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bolão F1</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="checkMissingBets()" *ngIf="isAdmin">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <ion-select class="title" [(ngModel)]="selectedRaceId" (ionChange)="onRaceChanged()" interface="popover">
    <ion-select-option *ngFor="let race of races" [value]="race.id">GP {{ race.name }}</ion-select-option>
  </ion-select>
  <div class="ion-padding bet-list__betting" *ngIf="bettingEnabled && selectedRaceId == currentRaceId; else userList">
    <div class="bet-list__message">Estamos no período de apostas<br/>Lista de apostas aparecerá aqui sábado</div>
    <ion-button size="large" shape="round" routerLink="/tabs/bet/bet">Fazer aposta</ion-button>
    <div></div>
  </div>
  <ng-template #userList>
    <ion-list>
      <ion-item *ngFor="let racePoint of racePoints" [routerLink]="['/tabs/bet/bet-view', racePoint.user, selectedRaceId]" type="button">
        <ion-label>{{ racePoint.user }}</ion-label>
        <ion-label text-right>{{ racePoint.points | number }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
