.bet-list__betting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bet-list__message {
  text-align: center;
  line-height: 2em;
  margin: 48px 0;
}

.countdown {
  color: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 8px;
}
