<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bolão F1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label class="profile__label">Nome:</ion-label>
      <ion-label>{{ user.username }}</ion-label>
      <ion-icon class="profile__icon" name="create" (click)="editUsername()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="profile__label">Email:</ion-label>
      <ion-label>{{ user.email }}</ion-label>
    </ion-item>
    <ion-item class="profile__item--clickable" (click)="changePassword()">
      <ion-label>Mudar a senha</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Versão do app:</ion-label>
      <ion-label>{{ version }}</ion-label>
    </ion-item>
    <ion-item class="profile__item--clickable" (click)="checkUpdates()">
      <ion-label>Verificar atualizações</ion-label>
    </ion-item>
    <ion-item class="profile__item--clickable" (click)="clearCache()">
      <ion-label>Limpar cache</ion-label>
    </ion-item>
    <ion-item class="profile__item--clickable" (click)="logout()">
      <ion-label>Logout</ion-label>
    </ion-item>
    <ion-item class="profile__item--clickable" (click)="backup()" *ngIf="isSuperAdmin">
      <ion-label>Backup</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
