<ion-label class="title">Top vitórias desde {{ firstSeason }}</ion-label>
<ion-list>
  <ion-item class="winner">
    <ion-label class="standings__position">1</ion-label>
    <ion-label class="standings__username">{{ top1Winner.user }}</ion-label>
    <ion-label class="ion-text-right">{{ top1Winner.number }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="standings__position">2</ion-label>
    <ion-label class="standings__username">{{ top2Winner.user }}</ion-label>
    <ion-label class="ion-text-right">{{ top2Winner.number }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="standings__position">3</ion-label>
    <ion-label class="standings__username">{{ top3Winner.user }}</ion-label>
    <ion-label class="ion-text-right">{{ top3Winner.number }}</ion-label>
  </ion-item>
</ion-list>
<ion-label class="title">Vencedores de cada temporada</ion-label>
<ion-list>
  <ng-container *ngFor="let seasonStanding of seasonStandings">
    <ion-item *ngIf="seasonStanding.finished">
      <ion-label color="light">
        <h2 class="winner">{{ seasonStanding.season }} - {{ seasonStanding.userStandings[0].user }} 🏆</h2>
        <p>{{ seasonStanding.userStandings[1].user }} (2º), {{ seasonStanding.userStandings[2].user }} (3º)</p>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-list>