// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// .alert-title.sc-ion-alert-md,
 .alert-title.sc-ion-alert-ios {
   color: #262626;
}

.alert-radio-label.sc-ion-alert-ios {
  color: #262626;
}

.alert-radio-label.sc-ion-alert-md {
  color: #ffffff;
}

[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
  color: var(--ion-color-primary);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0 16px;
  color: orange;
  font-weight: bold;
}

.f1-label {
  flex-basis: auto;
}
