<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/calendar"></ion-back-button>
    </ion-buttons>
    <ion-title>GP {{ race.name }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveRace()" *ngIf="isAdmin">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img *ngIf="race.circuitImageUrl" class="race__image" [alt]="race.circuitName" [src]="race.circuitImageUrl" />
    <ion-card-header>
      <ion-card-title class="race__title"> {{ race.flag }} GP {{ race.name }}</ion-card-title>
      <ion-card-subtitle class="race__subtitle">{{ race.circuitName }}, Round {{ race.number }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="isAdmin || hasResult" [routerLink]="resultLink" [ngClass]="{'race__bold': currentPhase === 'results'}">
          <ion-label>🏁 Resultados</ion-label>
        </ion-item>
        <ion-item [ngClass]="{'race__bold': currentPhase === 'qualifying' || currentPhase === 'race'}">
          <ion-label class="item__label">Corrida:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.raceStartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('race')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-race"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'race'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-race" [(ngModel)]="race.raceStartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Corrida</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>    
        </ion-item>
        <ion-item [ngClass]="{'race__bold': currentPhase === 'qualifying'}">
          <ion-label class="item__label">Qualifying:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.qualifyingStartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('qualifying')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-qualifying"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'qualifying'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-qualifying" [(ngModel)]="race.qualifyingStartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Qualifying</span>
              </ion-datetime>
            </ng-template>
          </ion-modal> 
        </ion-item>
        <ion-item *ngIf="race.sprintStartsAt">
          <ion-label class="item__label">Sprint:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.sprintStartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('sprint')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-sprint"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'sprint'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-sprint" [(ngModel)]="race.sprintStartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Sprint</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item *ngIf="race.sprintShootoutStartsAt">
          <ion-label class="item__label">Sprint Qualifying:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.sprintShootoutStartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('sprint-qualifying')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-sprint-qualifying"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'sprint-qualifying'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-sprint-qualifying" [(ngModel)]="race.sprintShootoutStartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Sprint Qualifying</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item *ngIf="race.practice3StartsAt">
          <ion-label class="item__label">Treino 3:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.practice3StartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('practice3')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-practice3"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'practice3'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-practice3" [(ngModel)]="race.practice3StartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Treino 3</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item *ngIf="race.practice2StartsAt">
          <ion-label class="item__label">Treino 2:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.practice2StartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('practice2')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-practice2"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'practice2'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-practice2" [(ngModel)]="race.practice2StartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Treino 2</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-label class="item__label">Treino 1:</ion-label>
          <ion-label class="item__value ion-text-right">{{ formatDate(race.practice1StartsAt) }}</ion-label>
          <ion-button fill="clear" color="light" *ngIf="isAdmin" (click)="openDatePicker('practice1')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-datetime-button class="hidden" datetime="datetime-practice1"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" [isOpen]="popupOpen == 'practice1'" (didDismiss)="closeDatePicker()">
            <ng-template>
              <ion-datetime id="datetime-practice1" [(ngModel)]="race.practice1StartsAt"
                      color="primary" locale="pt-BR"
                      showDefaultButtons="true"
                      [preferWheel]="true" minuteValues="0,15,30,45">
                <span slot="title">Treino 1</span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-list>
    </ion-card-content>
    
  </ion-card>
</ion-content>
