.race__image {
    background-color: rgb(230, 230, 230);
    padding: 8px;
}

.race__title {
    color: orange;
    font-weight: bold;
}

.race__subtitle {
    color: lightgray;
}

.race__bold {
    font-weight: bold;
}

.race__link {
    padding-top: 24px;
    color: lightgray;
    text-decoration: underline;
}